<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manson.manson_test_activity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.manson.manson_test_activity.HelloWorldActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" ></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".WebViewTestActivity"></activity>
        <activity android:name=".SecondActivity"></activity>
    </application>

</manifest>
